body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 35px;
}
.quadrado{
    text-align: center;
    width: 50px;
    background: aqua;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: aqua;
}
.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}
button{
    margin-top: 15px;
    width: 100px;
    height: 30px;
    background-color: aqua;
    cursor: pointer;
}